.container{
    font-family: fantasy;
    background-color: maroon;
    flex-grow: 0;
    color: gold;
    padding: 0rem;
}

.head {
    text-align: center;
    color: maroon;
    background-color: gold;
    
 
}

.nav{
    font-family: fantasy;
    background-color: maroon
    flex-grow: 0;
    color: gold;
    padding: 0rem;
}


.row{
    background-color: maroon;
    margin: max-height;
    color: gold;


}

    

.p2{
    font-family: fantasy;
    background-color: maroon;
    color: gold;
}


 .clearfix{
     font-family: fantasy;
     backgroune-color: maroon;
     color: gold;
 }





