.container{
  font-family: fantasy;
  background-color: rgb(0, 174, 255);
  flex-grow: 0;
  color: cornsilk;
  padding: 0rem;
}

.head {
  text-align: center;
  color: blue;
 
}
.navbar{
  font-family: fantasy;
  background-color: rgb(0, 174, 255);
  flex-grow: 0;
  color: cornsilk;
  padding: 0rem;
}
.main{
  background-color: blue;

}

/* My changes */
nav {
    background-color: grey;
}
