.head {
  text-align: center;
  color: blue;
}
.main{
  background-color: blue;

}

/* My changes */
nav {
    background-color: rgb(0, 174, 255);
}

.container h6 {
    color: black;
    font-family: fantasy;
}

.vid-container {
    background-color: grey;
}

footer {
    background-color: rgb(0, 174, 255);
}

#playlist-cover {
max-width: 60%;
}